</head>
<body>
  <div class="container">
    <h1 class="container__heading"><%= heading %></h1>
    <p class="container__paragraph">
      <a href="http://www.mapacademy.co.kr/">홈페이지</a>에서 <%= action %>
    </p>
  </div>
</body>
</html>