.Navigation {
  width: 33.33%;

  &-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
  }

  &-link {
    text-decoration: none;

    &-active {
    }
  }
}
