*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #0083b0, #6dd5fa);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 20rem;
  background-color: white;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container__heading {
  font-size: 2.4rem;
  font-weight: 400;
}

.container__paragraph {
  font-size: 1.6rem;
}
