*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #0083b0, #6dd5fa);
}
