.Navigation {
  margin: 1.8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__List {
    border-radius: 10px;
    border: 1.6px solid var(--color-grey-light-1);
    display: flex;
    align-items: center;
    list-style: none;
    width: 75%;
    overflow: hidden;
  }

  &__Item {
    flex: 1;
    text-align: center;
  }

  &__Link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 300;
    transition: all 0.25s;

    &__Active {
      background-color: var(--color-grey-light-1);
      color: var(--color-grey-dark-1);
    }
  }
}
