@import '../../index.scss';

.Header {
  &-container {
    height: 5rem;
    padding: 0 1rem;
    background-color: var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    transform: skew(2deg, -2deg);
    padding: 1px 3px;
    @include gradient-border-filled;
  }

  &-button {
    height: 3rem;
    padding: 0 1rem;
    @include gradient-border(2px);
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}
