.About {
  &-heading {
    &-1 {
    }

    &-2 {
    }

    &-4 {
    }
  }

  &-paragraph {
  }

  &-philosophy {
    width: 66.66%;
    height: 71.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-container {
    width: 100%;
    margin: 10rem 0;
    display: flex;
    justify-content: space-between;
  }

  &-motto {
    width: 30%;
    text-align: center;
  }

  &-education {
    width: 40%;
    text-align: center;
  }

  &-goal {
    width: 30%;
    text-align: center;
  }

  &-listContainer {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
  }

  &-list {
    list-style: none;
  }

  &-item {
  }
}
