@import '../../../App.scss';

.AccountButton {
  height: 4.2rem;
  padding: 0 1.2rem;
  @include gradient-border(2px);
  font-weight: 700;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 0.65rem;
  }

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }

  &__Filled {
    @include gradient-border-filled;
  }
}
