.Search {
  display: flex;

  &__Input {
    width: 50rem;
    height: 4.2rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    border: 1.5px solid transparent;
    margin-right: -5.8rem;
    background-image: linear-gradient(
        var(--color-grey-light-1),
        var(--color-grey-light-1)
      ),
      var(--linear-gradient);
    background-origin: border-box;
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__Button {
    padding: 0 1.6rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 0;
    background-image: var(--linear-gradient);
    color: var(--color-grey-light-1);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  & svg {
    height: 2.8rem;

    & path {
      stroke: currentColor;
    }
  }
}
